alembic==1.0.10
amqp==2.5.0
appdirs==1.4.3
appnope==0.1.0
argcomplete==1.10.0
argh==0.26.2
arrow==0.14.2
asn1crypto==0.24.0
aspy.yaml==1.3.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autoflake==1.3
Automat==0.7.0
autosemver==0.5.3
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
binaryornot==0.4.4
black==18.9b0
bleach==3.1.0
blinker==1.4
celery==4.2.1
certifi==2019.6.16
cffi==1.12.3
cfgv==2.0.0
chardet==3.0.4
click==6.7
constantly==15.1.0
cookiecutter==1.6.0
coverage==4.5.3
cryptography==2.5
cssselect==1.0.3
decorator==4.4.0
dictdiffer==0.8.0
dojson==1.4.0
dulwich==0.19.11
editdistance==0.5.3
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
entrypoints==0.3
factory-boy==2.11.1
Faker==1.0.7
flake8==3.7.7
Flask==1.0.3
Flask-Admin==1.5.3
Flask-Alembic==2.0.1
Flask-BabelEx==0.9.3
Flask-Breadcrumbs==0.4.0
Flask-Caching==1.7.2
Flask-CeleryExt==0.3.1
Flask-Cors==3.0.8
-e git+https://github.com/inspirehep/flask-kvsession.git@84c2633a4af55092650cb6972b126039500b39f9#egg=Flask_KVSession
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Menu==0.7.0
Flask-OAuthlib==0.9.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
flask-shell-ipython==0.4.1
-e git+https://github.com/inspirehep/flask-sqlalchemy.git@71abd94a1e2317a1365a25a31e719dbd9aafceea#egg=Flask_SQLAlchemy
flask-talisman==0.5.0
flask-webpackext==1.0.0
Flask-WTF==0.14.2
fqn-decorators==1.2.3
freezegun==0.3.12
fs==0.5.4
ftfy==4.4.3
ftputil==3.4
furl==2.0.0
future==0.17.1
gunicorn==19.9.0
HarvestingKit==0.6.15
hepcrawl==13.0.0
html5lib==1.0.1
HTMLParser==0.0.2
httpretty==0.9.6
hyperlink==19.0.0
identify==1.4.5
idna==2.8
IDUtils==1.1.2
importlib-metadata==0.18
importlib-resources==1.0.2
incremental==17.5.0
infinity==1.4
influxdb==5.2.2
inspire-dojson==62.0.1
inspire-json-merger==11.0.0
inspire-query-parser==6.0.0
inspire-schemas==60.0.9
-e git+https://github.com/drjova/inspire-service-orcid.git@c856461eb4698a62db3da2ee31f2d35d660a05c0#egg=inspire_service_orcid
inspire-utils==3.0.6
intervals==0.8.1
invenio==3.1.0
invenio-access==1.1.0
invenio-accounts==1.1.1
invenio-app==1.1.0
invenio-base==1.0.2
invenio-cache==1.0.0
invenio-celery==1.0.1
invenio-config==1.0.1
invenio-db==1.0.3
invenio-files-rest==1.0.0b1
invenio-i18n==1.1.1
invenio-indexer==1.0.1
invenio-jsonschemas==1.0.0
invenio-logging==1.0.0
invenio-mail==1.0.2
invenio-oauth2server==1.0.3
invenio-oauthclient==1.1.2
invenio-pidstore==1.0.0
invenio-records==1.0.1
invenio-records-files==1.0.0a11
invenio-records-rest==1.2.2
invenio-rest==1.0.0
invenio-search==1.0.0
invenio-userprofiles==1.0.1
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
isbnid-fork==0.5.2
isodate==0.6.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jinja2-time==0.2.0
json-merger==0.7.1
jsonpatch==1.23
jsonpointer==2.0
jsonref==0.2
jsonresolver==0.2.1
jsonschema==2.6.0
kombu==4.6.3
langdetect==1.0.7
latexcodec==1.0.7
lazy-object-proxy==1.4.1
limits==1.3
LinkHeader==0.4.3
lxml==4.3.4
Mako==1.0.12
MarkupSafe==1.1.1
marshmallow==2.19.5
maxminddb==1.4.1
maxminddb-geolite2==2018.703
mccabe==0.6.1
mock==3.0.5
more-itertools==7.0.0
msgpack-python==0.5.6
multidict==4.5.2
munkres==1.0.12
nameparser==0.5.8
node-semver==0.1.1
nodeenv==1.3.3
oauthlib==2.1.0
orcid==1.0.3
orderedmultidict==1.0
parsel==1.5.1
parso==0.4.0
passlib==1.7.1
pathtools==0.1.2
pbr==5.2.0
pexpect==4.7.0
pickleshare==0.7.5
pkgsettings==0.12.0
pluggy==0.12.0
poyo==0.4.2
pre-commit==1.17.0
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pybtex==0.22.2
pycodestyle==2.5.0
pycountry==17.9.23
pycparser==2.19
PyDispatcher==2.0.5
pydocstyle==3.0.0
pyflakes==2.1.1
Pygments==2.4.2
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pynpm==0.1.1
pyOpenSSL==19.0.0
pyPEG2==2.15.2
pyrsistent==0.15.2
pytest==3.10.1
pytest-clarity==0.1.0a1
pytest-cov==2.6.1
pytest-datadir==1.3.0
pytest-flask==0.15.0
pytest-invenio==1.1.1
pytest-mock==1.10.4
pytest-random-order==1.0.4
pytest-runner==4.5.1
pytest-vcr==1.0.2
python-dateutil==2.8.0
python-editor==1.0.4
python-redis-lock==3.3.1
python-scrapyd-api==2.1.2
pytz==2019.1
pywebpack==1.0.0
PyYAML==5.1.1
queuelib==1.5.0
raven==6.10.0
redis==3.2.1
remote-pdb==1.3.0
requests==2.22.0
requests-mock==1.5.2
requests-oauthlib==1.1.0
rfc3987==1.3.8
rt==1.0.11
Scrapy==1.6.0
scrapy-crawl-once==0.1.1
scrapy-sentry==0.9.0
scrapyd==1.1.0
scrapyd-client==1.1.0
selenium==3.141.0
service-identity==18.1.0
Sickle==0.6.4
simplejson==3.16.0
simplekv==0.12.0
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.9.1
speaklater==1.3
SQLAlchemy==1.3.5
SQLAlchemy-Continuum==1.3.4
SQLAlchemy-Utils==0.34.0
sqlitedict==1.6.0
termcolor==1.1.0
text-unidecode==1.2
timeexecution==3.3.0
toml==0.10.0
traitlets==4.3.2
Twisted==18.9.0
typed-ast==1.4.0
ua-parser==0.8.0
Unidecode==1.1.0
uritools==2.2.0
urllib3==1.23
uWSGI==2.0.18
validators==0.13.0
vcrpy==2.0.1
vine==1.3.0
virtualenv==16.4.3
w3lib==1.20.0
watchdog==0.9.0
wcwidth==0.1.7
webargs==5.3.2
webencodings==0.5.1
Werkzeug==0.15.4
whichcraft==0.5.2
wrapt==1.11.2
WTForms==2.2.1
WTForms-Alchemy==0.16.9
WTForms-Components==0.10.4
yarl==1.3.0
zipp==0.5.1
zope.interface==4.6.0
